




<script>
    function getPostData()
    {
        var url = "https://jsonplaceholder.typicode.com/posts";

        fetch(url).then( response => response.json())
                  .then(resultData => {
                      //  alert('Got the data');
                      //  console.log(resultData);

                        for(var i=0;i<resultData.length;i++)
                        {
                                $("table").append("<tr>" + 
                                    "<td>" + resultData[i].id + "</td>" +
                        "<td>" + resultData[i].userId + "</td>" +
                        "<td>" + resultData[i].title + "</td>" +
                        "<td>" + resultData[i].body + "</td>"
                        + "</tr>")
                        }                    
                      
                  })
                  .catch( err => {
                    //  alert('Errorr !!');
                      console.log(err);
                  })
    }
</script>






<button class="btn btn-primary" onclick="getPostData()"> Show Post </button>
<table class="table table-bordered"></table>